{% extends "base.html" %}
{% block title %}story form{% endblock %}
{% block content%}
<form action=“/storyA” method="POST">
    <label for="story-templates">select a story template</label>
    <select name="templates" id="story-templates">
        <option value="">--please choose a story template</option>
        <option value="/storyA">Story A</option>
        <option value="/storyB">Story B</option>
        <option value="/storyC">Story C</option>
        <option value="/storyD">Story D</option>
    </select>
</form>
{% endblock %}